<ion-item>
  <ion-label position="floating">Adresse email</ion-label>
  <ion-input type="email" [(ngModel)]="account.email"></ion-input>
  <ion-icon name="mail" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label position="floating">Mot de passe</ion-label>
  <ion-input type="password" [(ngModel)]="account.pw"></ion-input>
  <ion-icon name="lock" slot="start"></ion-icon>
</ion-item>