<ion-header *ngIf="!formOn">
    <ion-toolbar *ngIf="!formOn">
        <ion-title>Accueil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-grid *ngIf="!formOn">
    <ion-row>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showAddCourse=true && formOn=true" fill="outline"
                expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="book"></ion-icon>
                    </div>
                    <ion-label>Cours</ion-label>
                </div>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showAddPromotion=true && formOn=true" fill="outline"
                expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="ribbon"></ion-icon>
                    </div>
                    <ion-label>Promotions</ion-label>
                </div>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showAddStudent=true && formOn=true" fill="outline"
                expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="person-add"></ion-icon>
                    </div>
                    <ion-label>Etudiants</ion-label>
                </div>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showAddProf=true && formOn=true" fill="outline"
                expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="school"></ion-icon>
                    </div>
                    <ion-label>Professeurs</ion-label>
                </div>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showAddAdmin=true && formOn=true" fill="outline"
                expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="key"></ion-icon>
                    </div>
                    <ion-label>Administrateurs</ion-label>
                </div>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="secondary" *ngIf="!formOn" (click)="showCalls=true && formOn=true" fill="outline" expand="block" class="menu-ion-button">
                <div>
                    <div>
                        <ion-icon class="custom-icon" name="checkbox"></ion-icon>
                    </div>
                    <ion-label>Appels</ion-label>
                </div>
                
            </ion-button>
        </ion-col>
    </ion-row>

</ion-grid>

<div class="icon"><i class="ion-plane"></i></div>

<div *ngIf="showAddCourse">
    <app-form-course></app-form-course>
</div>

<div *ngIf="showAddPromotion">
    <app-form-promotion></app-form-promotion>
</div>

<div *ngIf="showAddStudent">
    <app-form-user type="student"></app-form-user>
</div>

<div *ngIf="showAddProf">
    <app-form-user type="prof"></app-form-user>
</div>

<div *ngIf="showCalls">
    <app-list-calls></app-list-calls>
</div>

<div *ngIf="showAddAdmin">
    <app-form-user type="admin"></app-form-user>
</div>