<ion-header>
    <ion-toolbar>
        <ion-button slot="start" fill="clear" href="/home">
            <ion-icon name="arrow-dropleft" href="/home"> </ion-icon>
        </ion-button>
        <ion-title>
            Promotions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item *ngFor="let promotion of promotions">
    <ion-label >{{promotion.name}}</ion-label>
    <ion-icon name="trash" (click)="deletePromo(promotion)"></ion-icon>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" (click)="addPromotionModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>



