<ion-content padding text-center>

    <h1>Première connexion</h1>
    
    <ion-text color="medium">
        <p>Vueillez compléter le formulaire ci-dessous afin de finaliser votre inscription</p>
    </ion-text>

    <div class="marginTopLg">
        <app-profil-comp [user]="user"></app-profil-comp>
    </div>

    <ion-button color="primary" expand="block" (click)="validate()" mode="ios" class="btnFixedBottom"
        [disabled]="!(user.name && user.first_name && user.phone)">
        <ion-icon name="person" slot="start"></ion-icon>
        Valider
    </ion-button>

</ion-content>