<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" href="/home" color="secondary">
      <ion-icon name="arrow-dropleft"> </ion-icon>
    </ion-button>
    <ion-title>
      Cours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item *ngFor="let course of courses">
    <ion-label>{{course.name}}</ion-label>
    <ion-icon name="trash" (click)="deleteCourse(course)"></ion-icon>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" (click)="addCourseModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>