<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="secondary"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Infos du cours
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Début du cours</ion-label>
        <ion-datetime picker-format="HH mm" displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="appel.endHour"
            placeholder="Choisir">
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Fin du cours</ion-label>
        <ion-datetime picker-format="HH mm" displayFormat="HH:mm" minuteValues="0,15,30,45"
            [(ngModel)]="appel.startHour" placeholder="Choisir">
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Cours</ion-label>
        <ion-select interface="popover" placeholder="Choisir" [(ngModel)]="appel.courseName">
            <ion-select-option *ngFor="let course of courses" value="{{course.name.trim()}}">
                {{course.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Promotion</ion-label>
        <ion-select interface="popover" placeholder="Choisir" [(ngModel)]="appel.promo">
            <ion-select-option *ngFor="let promotion of promotions" value="{{promotion.id}}">
                {{promotion.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-button
        [disabled]="appel.promo === undefined || appel.courseName=== undefined || appel.startHour=== undefined || latitude===undefined || longitude===undefined"
        color="secondary" class="button button-block ion-float-lg-right" style="margin-top: 35px;"
        (click)="startNewCall()">
        Démarrer l'appel
    </ion-button>
</ion-content>
