<ion-item>
  <ion-label position="floating">Nom</ion-label>
  <ion-input type="text" [maxlength]="15" [(ngModel)]="user.name"></ion-input>
  <ion-icon name="contact" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label position="floating">Prenom</ion-label>
  <ion-input type="text" [maxlength]="15" [(ngModel)]="user.first_name"></ion-input>
  <ion-icon name="person" slot="start"></ion-icon>
</ion-item>

<ion-item>
  <ion-label position="floating">Numéro de téléphone</ion-label>
  <ion-input type="tel" [maxlength]="10" [(ngModel)]="user.phone"></ion-input>
  <ion-icon name="call" slot="start"></ion-icon>
</ion-item>