<div *ngFor="let call of calls">
  <div *ngIf="isPresent(call) === 'false'; then absent else present"></div>
  <ion-card>
    <ion-card-header>
      Nom du cours {{call.courseName}}
    </ion-card-header>
    <ion-card-title>Professeur {{call.profName}}</ion-card-title>
    <ion-card-content>
      <p>Heure debut : {{call.startHour}}</p>
      <p>Heure fin : {{call.endHour}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" (click)="imPresent(call)">Présent</ion-button>
  <ion-button color="danger" (click)="answerToCall.emit({call: call, present: false})">Absent</ion-button>
</div>

<ng-template #present>
  <h2>Présent</h2>
</ng-template>

<ng-template #absent>
  <h2>Absent</h2>
</ng-template>