<ion-content padding>
  <div class="marginTopLg">
    <ion-img [src]="brandUrl" class="brand"></ion-img>

    <!-- Login Form [disabled]="!(account.email && account.pw && account.pw.length >= 6)" -->
    <div class="marginTopLg" *ngIf="!showRegisterForm">
      <app-login-comp [account]="account"></app-login-comp>

      <ion-text color="medium" (click)="showRegisterForm = true;">
        <p text-center class="marginTopMd marginBottomSm pFontSizeSm">Pas de compte ? <span>
            <ion-text color="primary">Créer un compte</ion-text>
          </span></p>
      </ion-text>

      <ion-text color="medium">
        <p text-center class="noMarginTop pFontSizeSm">Mot de passe oublié ? <span>
            <ion-text color="primary">Récupération</ion-text>
          </span></p>
      </ion-text>

      <ion-button mode="ios" class="btnFixedBottom" (click)="login(account.email, account.pw)">
        <ion-icon name="log-in" slot="start"></ion-icon>
        Se connecter
      </ion-button>
    </div>

    <!-- Register Form [disabled]="!(account.email && account.pw && account.pw.length >= 6 && account.idNum)"-->
    <div class="marginTopLg" *ngIf="showRegisterForm">
      <app-register-comp [account]="account" [promotions]="promotions" (selectPromotion)="account.user.promo = $event">
      </app-register-comp>

      <ion-text color="medium" (click)="showRegisterForm = false">
        <p text-center class="marginTopMd pFontSizeSm">Déjà un compte ? <span>
            <ion-text color="primary">Se connecter</ion-text>
          </span></p>
      </ion-text>

      <ion-button mode="ios" class="btnFixedBottom" (click)="register(account.user, account.pw)">
        <ion-icon name="add" slot="start"></ion-icon>
        Créer le compte
      </ion-button>
    </div>
  </div>
</ion-content>