// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.noMarginTop {
    margin-top: 0px;
}

.marginBottomSm {
    margin-bottom: 5px;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.marginTopMd {
    margin-top: 30px;
}

.marginTopLg {
    margin-top: 50px;
}

.btnFixedBottom {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 20px;
}

.pFontSizeSm {
    font-size: 14px;
}