<ion-header>
  <ion-toolbar>
      <ion-button slot="start" fill="clear" (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-dropleft"> </ion-icon>
    </ion-button>
    <ion-title>Nouveau cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="floating">Nom</ion-label>
   <ion-input [(ngModel)]="courseName"></ion-input>
</ion-item>

<ion-button color="secondary" fill="outline" (click)="addCourse()" expand="block"  style="margin-top: 50px;">Ajouter</ion-button>
</ion-content>
