<ion-item>
  <ion-label>Type de compte</ion-label>
  <ion-icon name="person" slot="start"></ion-icon>
  <ion-select interface="popover" (ionChange)="account.user.type = $event.detail.value;">
    <ion-select-option value="student">Etudiant</ion-select-option>
    <ion-select-option value="professor">Professeur</ion-select-option>
    <ion-select-option value="admin">CFA</ion-select-option>
  </ion-select>
</ion-item>

<div *ngIf="account && account.user.type !== undefined">
  <div *ngIf="account.user.type === 'student'; then student else other"></div>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="account.user.email"></ion-input>
    <ion-icon name="mail" slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="account.pw"></ion-input>
    <ion-icon name="lock" slot="start"></ion-icon>
  </ion-item>
</div>

<ng-template #student>
  <ion-item>
    <ion-label position="floating">Numero étudiant</ion-label>
    <ion-input [(ngModel)]="account.user.idNum"></ion-input>
    <ion-icon name="person" slot="start"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Promotion</ion-label>
    <ion-icon name="school" slot="start"></ion-icon>
    <ion-select (ionChange)="selectPromotion.emit($event.detail.value)">
      <div *ngFor="let promotion of promotions">
        <ion-select-option value="{{promotion.id}}">{{promotion.name}}</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
</ng-template>

<ng-template #other>
  <ion-item>
    <ion-label position="floating">Numero identifiant fournis</ion-label>
    <ion-input [(ngModel)]="account.user.idNum"></ion-input>
    <ion-icon name="person" slot="start"></ion-icon>
  </ion-item>
</ng-template>