<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" href="/home" color="secondary">
      <ion-icon name="arrow-dropleft"> </ion-icon>
    </ion-button>
    <ion-title>
      Nouvel utilisateur
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>{{user.name | uppercase}} {{user.first_name}}</ion-label>
      <ion-icon name="trash" (click)="deleteUser(user)"></ion-icon>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addUserModal(type)"></ion-icon>
    </ion-fab-button>
  </ion-fab>