<!--<ion-content>
  <p *ngFor="let call of closed_calls">{{call.courseName}}</p>
</ion-content>-->
<ion-card>
    <ion-card-header>
        <ion-text color="primary">
            <h1>Historique des appels</h1>
        </ion-text>
    </ion-card-header>
</ion-card>
<ion-content>

  <ion-card *ngFor="let call of closed_calls">
    <ion-card-header>
      <ion-card-title>Cours {{call.courseName}}</ion-card-title>
      <ion-card-subtitle>Le {{tools.formatDate(call.startHour)}} à {{tools.formatTime(call.startHour)}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="primary" expand="full" [disabled]="true" *ngIf="isPresent(call)">Vous étiez présent
      </ion-button>
      <ion-button color="danger" expand="full" [disabled]="true" *ngIf="!isPresent(call)">Vous étiez absent</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>