<p>
  list-calls works!
</p>
<ion-item>
  <ion-label position="floating">Promotion</ion-label>
  <ion-icon name="school" slot="start"></ion-icon>
  <ion-select (ionChange)="selectPromotion($event)">
    <div *ngFor="let promotion of promotions">
      <ion-select-option value="{{promotion.id}}">{{promotion.name}}</ion-select-option>
    </div>
  </ion-select>
</ion-item>
<ion-list>
  <ion-item *ngFor="let call of calls">
    <div (click)="openModalCall(call)">
        <ion-label> {{call.startHour | date: 'dd/MM/yyyy'}} ||| {{call.startHour | date: 'HH:mm'}} - {{call.endHour | date: 'HH:mm'}}</ion-label>
        <ion-label> {{call.courseName}} ({{call.profName}})</ion-label>
    </div>
  </ion-item>
</ion-list>