<ion-content padding text-center>

  <div *ngIf="isLoggedIn === true">
    <div *ngIf="currentUser?.type === 'student'; then student"></div>
    <div *ngIf="currentUser?.type === 'professor'; then professor"></div>
    <div *ngIf="currentUser?.type === 'admin'; then admin"></div>
    <ion-button color="danger" expand="block" (click)="logout()" mode="ios">Se déconnecter</ion-button>
  </div>

  <div *ngIf="isLoggedIn === false">
    <h1>Aucun utilisateur connecté</h1>
    <ion-button color="primary" expand="block" (click)="router.navigateByUrl('/login')" mode="ios">Se connecter
    </ion-button>
  </div>
  
</ion-content>

<ng-template #student>
  <app-home-student-comp [student]="currentUser"></app-home-student-comp>
  <app-call-student-comp [calls]="calls" (answerToCall)="answerToCall($event)" [userId]="currentUser.id">
  </app-call-student-comp>
</ng-template>

<ng-template #professor>
  <app-home-professor-comp [professor]="currentUser"></app-home-professor-comp>
</ng-template>

<ng-template #admin>
  <app-home-admin [admin]="currentUser"></app-home-admin>
</ng-template>