<ion-card>
    <ion-card-header>
        <ion-text color="primary">
            <h1>Bonjour {{student.first_name}}</h1>
        </ion-text>
    </ion-card-header>
</ion-card>

<ion-card>

    <ion-card-header>
        <ion-card-title>Informations de compte</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-label fixed>Nom</ion-label> {{student.name}}
            </ion-item>
            <ion-item>
                <ion-label fixed>Prénom</ion-label> {{student.first_name}}
            </ion-item>
            <ion-item>
                <ion-label fixed>Promotion</ion-label> {{promoStudent(student.promo)}} 
            </ion-item>

            <ion-item>
                <ion-label fixed>Numéro Etudiant</ion-label> {{student.idNum}} 
            </ion-item>
            <ion-item>
                <ion-label fixed>Numéro Etudiant</ion-label> {{student.idNum}}
            </ion-item>
            <ion-item>
                <ion-label fixed>Email</ion-label> {{student.email}}
            </ion-item>
            <ion-item>
                <ion-label fixed>Téléphone</ion-label> {{student.phone}}
            </ion-item>
        </ion-list>
    </ion-card-content>

    <ion-text color="primary">
        <ion-button color="primary" expand="block" (click)="goToHistoric()">Historique des appels</ion-button>
    </ion-text>

</ion-card>