<ion-header>
  <ion-toolbar>
    <ion-title>Nouvel appel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-text color="primary">
        <p>Vous avez une présence à valider</p>
      </ion-text>
    </ion-card-header>
  </ion-card>

  <div *ngIf="isValid === false">
    <ion-card>

      <ion-card-header>
        <ion-card-title>{{appel?.promo}} - {{appel?.courseName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label fixed>{{appel?.courseName}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label fixed>{{appel?.profName}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label fixed>{{date}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label fixed>{{appel?.startHour}} - {{appel?.endHour}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="danger" class="button button-block ion-float-lg-right " style="margin-top: 35px;"
              (click)="changeValidValue()">
              PRESENT</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="danger" class="button button-block ion-float-lg-right " style="margin-top: 35px;"
              (click)="setStudentIsAbsent()">
              ABSENT</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
  </div>

  <div *ngIf="isValid === true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cours {{appel.courseName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating" color="danger">Rentrer le code ici</ion-label>
          <ion-input [(ngModel)]="inputCode"></ion-input>
        </ion-item>
      </ion-card-content>

      <ion-button color="danger" class="button button-block ion-float-lg-right " style="margin-top: 35px;"
        (click)="checkCall()">
        Valider
      </ion-button>

      <ion-button color="danger" class="button button-block ion-float-lg-right " style="" (click)="changeValidValue()">
        Retour
      </ion-button>
    </ion-card>
  </div>

</ion-content>