<ion-header>
  <ion-toolbar>
    <ion-title>Nouvel utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Numéro étudiant</ion-label>
         <ion-input [(ngModel)]="UserNum"></ion-input>
      </ion-item>
      
      <ion-button color="secondary" fill="outline" (click)="addUser(type)" expand="block"  style="margin-top: 50px;">Ajouter</ion-button>
</ion-content>
