<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vérification présence</ion-card-title>
      <ion-card-subtitle>Cours : {{call.courseName}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Saisir le code unique</ion-label>
        <ion-input [(ngModel)]="code"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="validate(this.call, this.code)">Valider</ion-button>

</ion-content>