<ion-header>
  <ion-toolbar>
    <ion-title>call-list-absents</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item *ngFor="let student of students">
    <div>
        <ion-label> {{student?.name}} {{student?.first_name | uppercase}}</ion-label>
        <ion-badge [color]="getPresenceStatus(student) ? 'primary' : 'danger'">
          {{getPresenceStatus(student) === true ? "Présent" : "Absent"}}</ion-badge>
    </div>
  </ion-item>
</ion-list>
<ion-content>
<ion-button (click)="close()">OK</ion-button>
</ion-content>
