<ion-header>

  <ion-toolbar>
    <ion-title>Suivi de l'appel</ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Date</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Promotion</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cour</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let currentUser of currentUsers">
      <ion-item>
        <ion-label>{{ currentUser.name }} {{ currentUser.first_name }}</ion-label>
        <ion-toggle [(ngModel)]="present"></ion-toggle>
        <ion-badge [color]="getPresenceStatus() ? 'primary' : 'danger'">
          {{getPresenceStatus(currentUser) === true ? "Présent" : "Absent"}}</ion-badge>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-button mode="ios" class="btnFixedBottom">
  <ion-icon name="log-in" slot="start"></ion-icon>
  Cloturer l'appel
</ion-button>