<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fermer</ion-button>
    </ion-buttons>
    <ion-title>
      Appel en cours
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar color="secondary" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Cour : {{appel.courseName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Promotion : {{appel.promo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="success" style="font-size: 20px;text-align: center;">
          Code : {{generatedkey}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- List des étudiant qui ont répondu à l'appel ou non-->
  <ion-list>
    <ion-item *ngFor="let callStudent of student_list">
      <ion-label>{{callStudent.student?.name}} {{callStudent.student?.first_name}}</ion-label>
      <ion-toggle [(ngModel)]="callStudent.present" (ionChange)="changeStudentState(callStudent, $event)"></ion-toggle>
      <ion-badge [color]="callStudent.present ? 'primary' : 'danger'">
        {{callStudent.present === true ? "Présent" : "Absent"}}</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button color="primary" expand="block" (click)="stopCall()">Arrêter l'appel</ion-button>
</ion-footer>