<ion-card>
  <ion-text text-center>
    <h1>Bonjour {{professor.first_name}}</h1>
  </ion-text>
</ion-card>


<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" (click)="goToNewAppel()" fill="outline" expand="block" class="menu-ion-button">
        <div>
          <div>
            <ion-icon class="custom-icon" name="ios-stopwatch"></ion-icon>
          </div>
          <ion-label>Nouvel appel</ion-label>
        </div>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="secondary" (click)="goToHistoCalls()" fill="outline" expand="block" class="menu-ion-button">
        <div>
          <div>
            <ion-icon class="custom-icon" name="list-box"></ion-icon>
          </div>
          <ion-label>Historique</ion-label>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    

    <ion-col>

      <ion-button color="secondary" (click)="geolocate()" fill="outline" expand="block" class="menu-ion-button">
        <div>
          <div>
            <ion-icon class="custom-icon" name="pin"></ion-icon>
          </div>
          <ion-label>Localisez-moi</ion-label>
        </div>

      </ion-button>
    </ion-col>
  </ion-row>

</ion-grid>
