<ion-content padding>
  <h1>Historique des appels</h1>

  <ion-item>
    <ion-label>Selectionnez une promotion</ion-label>
    <ion-select placeholder="Choisir" [(ngModel)]="promo" (ionChange)="showCalls(promo)">
      <ion-select-option *ngFor="let promotion of promotions" value="{{promotion?.id}}">
        {{promotion?.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let call of closed_calls">
    <ion-card-header>
      <ion-card-title>Cours {{call.courseName}}</ion-card-title>
      <ion-card-subtitle>Le {{tools.formatDate(call.startHour)}} à {{tools.formatTime(call.startHour)}}
      </ion-card-subtitle>
    </ion-card-header>

    <div *ngFor="let student of call.studentsList">
      <ion-item>
        <ion-label>{{ student.student?.name }} {{ student.student?.first_name }}</ion-label>
        <ion-toggle [(ngModel)]="student.present" [disabled]='true'></ion-toggle>
      </ion-item>
    </div>
  </ion-card>
</ion-content>